<html>
<body>
    <h2>Submitted Information:</h2>
    <p>
      Name: 
      <%= data.yourname %>
      <%= console.log('where am i?'); %>
    </p>
    <p>
      Dojo Location: 
      <%= data.dojolocation %>
    </p>
    <p>
      Favorite Language: 
      <%= data.favoritelanguage %>
    </p>
    <p>
      Comment: 
      <%= data.comment %>
    </p>
</body>
</html>